<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        font-family: Arial;
        font-size: 12px;
      }
      html {
        height:100vh;
        width:100vw;
        overflow:hidden;
      }
      body {
        height: calc(100vh - 30px);
        width: calc(100vw - 50px);
        padding: 5px 25px;
      }
      .Yes, .No {
        margin: 10px;
        padding: 5px;
      }
      .Yes {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
      }
      .No {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
      }
      #predict {
        margin: 10px;
      }
    </style>
  </head>
  <body>
      <form id="predict" method="POST">
        <p>Q1. Assuming the individual has a mental health disorder, how often does he/she feel that it interferes with his/her work when not being treated effectively? (i.e. experience symptoms)</p>
        <label><input type="radio" name="account_length" value="1" checked>Yes</label>
        <label><input type="radio" name="account_length" value="0">No</label>
        <hr>
        <p>Q2. Has the individual ever been diagnosed with a mental health disorder?</p>
        <label><input type="radio" name="international_plan" value="1" checked>Yes</label>
        <label><input type="radio" name="international_plan" value="0">No</label>
        <hr>
        <p>Q3. Assuming the individual has a mental health disorder, how often does he/she feel that it interferes with his/her work when being treated effectively?</p>
        <label><input type="radio" name="voice_mail_plan" value="1" checked>Yes</label>
        <label><input type="radio" name="voice_mail_plan" value="0">No</label>
        <hr>
        <p>Q4. Does the individual currently have a mental health disorder?</p>
        <label><input type="radio" name="number_vmail_messages" value="1" checked>Yes</label>
        <label><input type="radio" name="number_vmail_messages" value="0">No</label>
        <hr>
        <p>Q5. Does the individual have a family history of mental illness?</p>
        <label><input type="radio" name="total_day_calls" value="1" checked>Yes</label>
        <label><input type="radio" name="total_day_calls" value="0">No</label>
        <hr>
        <p>Q6. Did the individual have a mental health disorder in the past?</p>
        <label><input type="radio" name="total_eve_calls" value="1" checked>Yes</label>
        <label><input type="radio" name="total_eve_calls" value="0">No</label>
        <hr>
        <p>Q7. Does the individual know of the options for mental health care available under his/her employer health coverage?</p>
        <label><input type="radio" name="number_customer_service_calls" value="1" checked>Yes</label>
        <label><input type="radio" name="number_customer_service_calls" value="0">No</label>
        <hr>

        <input type="submit" value="Predict!">
    </form>

    <div id="predictionOutcome"></div>
    <script>
      $("form#predict").submit(function(event) {
          event.preventDefault();
          var allElements=event.target.elements;
          var json={
            "account_length":allElements.account_length.value,
            "international_plan":allElements.international_plan.value,
            "voice_mail_plan":allElements.voice_mail_plan.value,
            "number_vmail_messages":allElements.number_vmail_messages.value,
            "total_day_calls":allElements.total_day_calls.value,
            "total_eve_calls":allElements.total_eve_calls.value,
            "number_customer_service_calls":allElements.number_customer_service_calls.value,
          }
          var jsonStr=JSON.stringify(json)
          $.ajax({
            url: "/api/predict",
            data: JSON.parse(jsonStr),
            method: "GET",
            success: function(result) {
                let predictedResult=result;
                let htmlStr="";
                if(predictedResult=="Yes") {
                  htmlStr+="<div class='Yes'><b>Yes, </b> he/she is likely to seek mental healthcare treatment.</div>";
                } else if(predictedResult=="No") {
                  htmlStr+="<div class='No'><b>No, </b> he/she is unlikely to seek mental healthcare treatment.</div>";
                }
                $("#predictionOutcome").html(htmlStr);
            },
            error: function(err) {
              console.log(err);
            }
          });
          return false
      });
    </script>
  </body>
</html>